[2014-11-07 15:52] BaN-Co opened #1 "nRF51822 low-power operation"
Hello,

There is problem with current consumption in Bluetooth applications and current version of mbed SDK.
I'm using nRF51822-EK board for tests.
I created test project based on BLE_HeartRate example with last versions of libraries: mbed-src, nRF51822, BLE_API.

[code]

And results is that in advertising state device consumes 5uA in low-power mode (ble.waitForEvent()) with small current spikes w

[2014-11-08 11:58] #1 closed, assigned to nobody

[2014-11-08 16:11] BaN-Co opened #2 "nRF51822 advertising interval problem"
Hello,

There is a bug somewhere in the library regarding the advertising interval setting.
If using setAdvertisingInterval() I choose advertising interval <=4096 then all works fine, but if I choose advertising interval >4096 then device is not sending advertising packets.

[2014-11-10 22:16] mrquincle opened #3 "Roadmap"
Is there a roadmap defined somewhere? Currently I'm working on the S130 device because I need to be able to operate as a server.

Would the following signatures be fine?

[code]

What else do we need? How do you prefer to maintain the list of devices that have been scanned for?

And how do I make a distinction between functionality that only allows peripheral roles versus central roles (say the S1

[2014-11-20 20:14] #3 closed, assigned to nobody

[2014-11-21 10:43] #2 closed, assigned to nobody

[2014-11-29 20:40] schilit opened #6 "Uri Data Length and semantics"
Hi @rgrover

`BLE_API / services / URIBeacon2Service.h` includes the definitions:

[code]

However  [Uri Data must be between 0 and 18 bytes in length.](https://github.com/google/uribeacon/blob/master/specification/ConfigService.md#34-uri-data)

`URIBeacon2Service.h` also treats Uri Data as unencoded but it is already encoded and should be treated as an opaque type.

[2014-11-29 20:53] schilit opened #7 "URIBeacon2Service.h does not reset to defaults"
Hi @rgrover

The `reset` operation in `URIBeacon2Service.h` should reset to [default values](https://github.com/google/uribeacon/blob/master/specification/ConfigService.md#39-reset):

| Characteristic | Default Value |
| :-- | :-- |
| Uri Data | None |
| Uri Flags | 0 |
| TX Power Mode | TX_POWER_MODE_LOW |
| Beacon Period | 0 (disabled) |
| Lock | 00000000-00000-0000-0000-000000000000 |

however

[2014-11-29 21:14] schilit opened #8 "URIBeacon2Service.h missing TX Power Mode"
Hi @rgrover

`BLE_API / services / URIBeacon2Service.h` is missing Characteristic [TX Power Mode](https://github.com/google/uribeacon/blob/master/specification/ConfigService.md#37-tx-power-mode)

This characteristic provides an abstraction. Ideally `TX_POWER_MODE_LOWEST` should equate to the nRF51822 whisper mode if running on an nRF51822, and lowest mode otherwise.

[2014-11-29 21:27] schilit opened #9 "Service Characteristics"
Hi @rgrover

The `BLE_API / services / URIBeacon2Service.h` has incorrect
 [Characteristics](https://github.com/google/uribeacon/blob/master/specification/ConfigService.md#3-service-characteristics).

Specifically the table in the specification does not include support for `GattCharacteristic::BLE_GATT_CHAR_PROPERTIES_WRITE_WITHOUT_RESPONSE`

The unreliable write on Reset is a problem because this

[2014-11-29 21:46] schilit opened #10 "Lock and Unlock missing from URIBeacon2Service.h"
Hi @rgrover

[Lock](https://github.com/google/uribeacon/blob/master/specification/ConfigService.md#31-lock-state) and [Unlock](https://github.com/google/uribeacon/blob/master/specification/ConfigService.md#33-unlock) are missing from URIBeacon2Service.h

The Lock value should be stored in non-volatile memory. Lock value can be set to 0 to indicate unlocked, therefore Lock State can be based solely

[2014-11-29 21:51] schilit opened #11 "URIBeacon2Service.h should be called UriBeaconConfigService.h"
Hi @rgrover

The official name of the service is [UriBeacon Configuration Service](https://github.com/google/uribeacon/blob/master/specification/ConfigService.md#uribeacon-configuration-service)

We have an unpublished specification for UriBeacon Configuration Service V1 so that is why you are seeing V2. But for the purposes here we can keep the name simpler. Suggest UriBeaconConfigService since t

[2014-11-29 22:01] schilit opened #12 "why no BLEDevice::onDataWrite?"
The framework has `BLEDevice::onDataWritten` that is called after write, but why no `onDataWrite` that would be called before write?

It seems generally useful to support characteristic value checking _prior_ to write rather than the step of restoring characteristic values afterwards.

For example writing to [TX Power Mode](https://github.com/google/uribeacon/blob/master/specification/ConfigServic

[2014-11-29 22:10] schilit opened #13 "URIBeacon2Service does not advertise UriBeacon"
Hi @rgrover

The `configure()` method does not seem to include a Service UUID field in the advertisement. It only sets the Service Data field.

Service UUID is necessary for background scanning on iOS.

[2014-11-29 22:16] schilit opened #14 "URIBeacon2Service configure()"
What is the purpose of public methods like `URIBeacon2Service ::setFlags`

These call `configure()` but do not call `ble.setAdvertisingPayload()`

These methods do not call `ble.updateCharacteristicValue` so the values are never reflected in GATT.

Also `configure()` is called twice in `onDataWritten` for reset.

[2014-11-29 22:22] #13 closed, assigned to nobody

[2014-11-29 23:01] schilit opened #15 "Modes: UriBeacon and UriBeaconConfig"
Hi @rgrover

Devices implementing UriBeacon have modes:
1. UriBeacon ADV mode. Where they emit the UriBeacon
2. Config ADV mode. Where they emit an ADV packet for the config servicebut if no connection is made in N seconds (30) then they revert to mode 1.

On the CSR and nRF51 we've been using hardware button press to move devices into Config mode.

Any thoughts on how this would work on mbed?

[2014-11-30 20:16] schilit opened #16 "URIBeacon2Service setTxPowerLevel should follow specification"
Hi @rgrover

`setTxPowerLevel` should be `setAdvertisedTxPowerLevels` to match the [specification](https://github.com/google/uribeacon/blob/master/specification/ConfigService.md#36-advertised-tx-power-levels). The method takes an array `int8[4]` for all the `powerLevels` not a single `mode` and `txPowerIn`

Also `configure` should be called since changing the array can change the advertisement.

[2014-11-30 20:42] schilit opened #17 "URIBeacon2Service Needs initial AdvertisedTxPowerLevels"
Hi @rgrover @roywant

The UriBeaconConfigService (or the main.c) requires a default array for [Advertised Tx Power Levels](https://github.com/google/uribeacon/blob/master/specification/ConfigService.md#36-advertised-tx-power-levels). Indexing by the current mode results in the dBm value transmitted in the ADV packet.

Since the value used for `nRF51822n::setTxPower` may not be the same as the Adve

[2014-12-01 16:39] #11 closed, assigned to rgrover

[2014-12-01 16:40] #9 closed, assigned to rgrover

[2014-12-01 16:55] #16 closed, assigned to nobody

[2014-12-01 16:55] #14 closed, assigned to rgrover

[2014-12-01 16:56] #7 closed, assigned to rgrover

[2014-12-02 09:26] schilit opened #19 "Return error on write request when locked"
is there a way for
[code]

to return a GATT error code (see  [error codes](https://github.com/google/uribeacon/blob/master/specification/ConfigService.md#13-error-codes)) when
the write attempt is made on a locked device?

[2014-12-03 11:55] #15 closed, assigned to rgrover

[2014-12-12 13:31] #12 closed, assigned to rgrover

[2014-12-12 15:52] #6 closed, assigned to rgrover

[2014-12-12 15:59] #8 closed, assigned to rgrover

[2015-01-08 23:03] myleswatson opened #24 "C version of the API?"
I'm interested in using the BLE_API for a project I'm working on, but C++ is a showstopper.  I'd hate to have to reinvent the wheel just for that.  Any suggestions?

Thanks,
Myles

[2015-01-08 23:14] rgrover commented on #24
Hi,

Which part of C++ is a showstopper for you?
If you study the demos, you'll find that there's hardly any C++ being used apart from instantiating a BLEDevice or a few BLE services; or perhaps classes which abstract the hardware. You're free to write the rest of your application in C if you prefer.

Is it the BLE API which you'd like to see written in C? Or is the larger mbed API? Please continu

[2015-01-09 16:49] myleswatson commented on #24
Hi Rohit,

Thanks for the quick response.

I'm interested in using and extending the BLE API.  Our project is written in C, and I'm worried that the necessary wrappers will add too much overhead in terms of size/execution time.  C seems a lot easier to include in C++ than C++ is in C.

I'm working with an nRF51822, and I'd like to get to the point where the entire project is open source.  It seems

[2015-01-11 16:49] rgrover commented on #24
The C++ wrappers making up the BLE_API are very lightweight. Using them will not cause any performance or code bloat. C++ has come a long way in being efficient. Using C++ brings the benefit of much better compile-time checking and introduces near-zero run-time overhead.

Does your toolchain support C++?

If you really need everything to be C-only, you'll have to de-contruct every class BLE_API in

[2015-01-12 18:46] myleswatson commented on #24
I agree.  I didn't mean to imply that the C++ code in BLE_API were poorly written.  My toolchain supports C++, but the project definition doesn't.  I didn't want to use the Nordic API directly, because I wanted to support an open-source API.  I was mostly surprised that C++ was chosen to wrap a C API.  Presumably future APIs that you are targeting may be written in C++.

Thanks for your work.  I a

[2015-01-12 18:46] #24 closed

[2015-01-21 10:18] rgrover commented on #10
fixed with release 0.2.10 of BLE_API (https://github.com/mbedmicro/BLE_API/commit/540c8c2ba7bc861558fcec77c8c15bc40002624d), and with the corresponding commit to nRF51822 (https://github.com/mbedmicro/nRF51822/commit/e4fab54bf2527083fef2fdeb13079e68a5d4e0f9)

Also updated mercurial repositories on mbed.org. You should be able to build from mbed.org's online compiler directly.
http://developer.mbed

[2015-01-21 10:18] #10 closed

[2015-01-29 23:51] rgrover opened #26 "crash on memory allocation"
http://developer.mbed.org/forum/mbed/topic/433/?page=2#comment-27122

[2015-01-29 23:58] rgrover opened #27 "build bootloader using armgcc"
post instructions on building bootloader using armgcc.

[2015-02-19 00:28] joseangeljimenez opened #29 "Incorrect documentation on void setAdvertisingType()?"
Hello,

According to the BLE_API documentation for BLEDevice::setAdvertisingType(),

"ADV_SCANNABLE_UNDIRECTED
Any central device can connect to this peripheral, and the secondary Scan Response payload will be included or available to central devices."

However, according to my interpretation of the BLE 4 specification (and hands-on tests), a scannable device is *non-connectable*, meaning that,

[2015-02-19 00:38] joseangeljimenez opened #30 "Which are the allowed values for txPower? > BLEDevice::setTxPower(int8_t txPower)"
Hello,

I am developing with the latest version of the BLE_API. So far, I have successfully created fairly complex Peripheral examples. However, I have been only partially capable of changing the TX power.

I have been trying different values for txPower,
ble_error_t BLEDevice::setTxPower(int8_t txPower)

However, so far I only could make it work for txPower = 0 (0 dBm) and txPower = 4 (dBm). I ha

[2015-02-19 08:19] rgrover commented on #29
Hi,

I agree with your interpretation of the BLE spec. I'll update the
documentation shortly.

thanks,
Rohit.

On Thu, Feb 19, 2015 at 12:28 AM, José Ángel Jiménez <
notifications@github.com> wrote:

[2015-02-19 08:35] rgrover commented on #30
ble_error_t BLEDevice::setTxPower(int8_t txPower) resolves to sd_ble_gap_tx_power_set().

[code]

do you get an error as a return value? If not, then you'll need to take this up with Nordic. devzone.nordicsemi.com

[2015-02-22 20:16] aleksanb opened #34 "Inconsistent use of uint_16_t and Handle_t"
Hey.
[getHandle](https://github.com/mbedmicro/BLE_API/blob/master/public/GattAttribute.h#L54) returns a Handle_t, but [updateCharacteristicValue](https://github.com/mbedmicro/BLE_API/blob/master/public/BLEDevice.h#L278) expects an uint_16_t.

This was rather confusing, until i discovered that Handle_t was a typedef of uint_16_t.

May i suggest returning a uint_16_t from updateCharacteristicValue i

[2015-02-22 22:10] rgrover commented on #34
yup. This was on my todo list. Thanks for pointing this out. Fix should arrive shortly.

[2015-02-23 08:35] #29 closed

[2015-02-23 08:35] #34 closed

[2015-02-23 19:36] joseangeljimenez commented on #30
Hello Rohit,

Thanks for your help. I have now finished checking all the accepted values for setTxPower / sd_ble_gap_tx_power_set(), and verified that the underlying Nordic SoftDevice is working as expected.

For all -30, -20, -16, -12, -8, -4, 0, 4 dBm, the RSSI at the Central device follows. For instance, if the RSSI at the Central device is ~-50dBm for a TX power of 4dBm, changing the TX power

[2015-02-24 08:45] rgrover commented on #30
Hi Jose,

You commented "I suggest to add a the range of valid input values for setTxPower()."
Are you suggesting that we create a separate API which can return a set of valid TxPower values (using an iterator perhaps)?

[2015-02-24 18:08] joseangeljimenez commented on #30
Hello Rohit,

As the library currently supports only one backend (nRF51822), you could simply add a little description to the high level documentation of the BLEDevice::setTxPower() method.

However, paving the way for new backends, a simple API like the one below will do,
std::deque<int8_t> getTxPowerPermittedValues(); // C++

Regards,
Jose Angel

----
P.S.: For those landing in this page with li

[2015-02-25 11:59] rgrover commented on #30
how about keeping things really simple: return a static array--i.e. pointer
to a const int32_t and a unsigned count?

On Tue, Feb 24, 2015 at 6:08 PM, José Ángel Jiménez <
notifications@github.com> wrote:

[2015-02-25 12:09] joseangeljimenez commented on #30
**Absolutely yes to the C style**. Simpler for this case. Sorry, I jumped straight to C++ style.

[2015-02-25 12:11] joseangeljimenez commented on #30
The signature could be,
void getTxPowerPermittedValues(int8_t* const, size_t* const); // C style

[2015-02-26 16:22] rgrover commented on #30
fixed in https://github.com/mbedmicro/BLE_API/commit/f557237f47bc9992216673bebd097a347d8823af

[2015-02-26 16:22] #30 closed

[2015-04-21 12:19] kellyjp opened #36 "BLEDevice::clearAdvertisingPayload doesn't clear the scan response PDU"
There appears to be no way to clear the scan response stored in BLEDevice::scanResponse in the current API.  The logical place for this is probably in clearAdvertisingPayload method as the scanResponse is just an extension of the advertising payload.  However, if you don't want to change the semantics of the current API another method could be added to the API to do this i.e. clearScanResponse.

[2015-04-21 12:26] rgrover commented on #36
Thanks for raising this. I'll investigate if this is possible.

[2015-04-23 09:37] #36 closed

[2015-04-23 13:45] rgrover opened #37 "The example code in GattAttribute.h does not refer to GattAttribute"
http://developer.mbed.org/questions/7492/GattAttibute-Descriptors-preventing-Char/

the example code in GattAttribute.h does not refer to GattAttribute so isn't a great deal of help...

[2015-04-23 13:50] #37 closed

[2015-04-24 06:38] rgrover opened #38 "Allow adding a User Description descriptor to a GattCharacteristic."
This needs special handling since it is a reserved UUID. The present mechanism of adding descriptors through a table during construction doesn't work. Needs special handling.

[2015-04-24 07:27] rgrover commented on #38
This can be solved without changing BLE_API. This is also being tracked at https://github.com/mbedmicro/nRF51822/issues/9

[2015-04-27 07:03] rgrover commented on #38
The fix will arrive on mbed.org shortly after the next SDK release.

[2015-04-27 07:03] #38 closed

[2015-05-10 10:14] kellyjp opened #39 "Initial value for _requiredSecurity member of GattCharacteristic class breaks existing code"
The constructor for GattCharacteristic implicitly initialises the value of the _requiredSecurity member to Gap::SECURITY_MODE_NO_ACCESS (0).  Read requests for any characteristic will therefore fail unless there is a call to the requireSecurity method to change it to something more permissive.

As a consequence all existing code that supports reads of a characteristic value will now return an erro

[2015-05-11 06:45] rgrover commented on #39
Thanks for this excellent root-cause analysis. This will be fixed very shortly.

[2015-05-11 06:57] #39 closed

[2015-05-12 08:25] kellyjp opened #40 "Typo in definition of UNIT_0_625_MS in Gap.h"
This constant is currently defined as 650 when it should be defined as 625.  I discovered this typo when attempting to set the advertising interval to 20ms (the minimum allowable value) and it was failing.  With the typo corrected setting the advertising interval to 20ms now works.

[2015-05-12 08:34] rgrover commented on #40
Yes, I had already noticed this. The fix will come with the next release. Thanks so much for your feedback.

[2015-05-12 09:34] #40 closed

[2015-05-12 09:36] rgrover commented on #40
It may take a day for mbed.org to get updated with this change because we're waiting for the new mbed-SDK to be rolled out.

[2015-06-11 06:19] rgrover opened #43 "CONNECTION_TIMEOUT should be added to DisconnectionReason_t"
Refer to https://developer.mbed.org/questions/53969/Ble-disconnection-error/

[2015-06-19 14:50] #43 closed

[2015-06-26 20:06] jcady92 opened #46 "Clash With Definition and Enum Naming"
When using the NRF51822 library with BLE_API there's a clash with some names.

Looking at blecommon.h, these enums are declared:

[code]

Then looking at ble_types.h in the NRF51822 library, the following defines are used

[code]

As you can see, there's a direct clash.  When exporting a program from the mbed compiler to Keil, it will complain that it expected an identifier.

[2015-06-29 08:12] rgrover opened #47 "extend DiscoveredCharacteristic to allow serialization and reconstruction from persistent storage"
it may be useful at times to construct DiscoveredCharacteristisc (and services) from persistent (cached) data. This will allow us to avoid service-discovery for every connection. BLE_API needs to be extended for this.

[2015-06-29 08:16] rgrover opened #48 "we may want to introduce GattServer::addCharacteristic()"
We currently only have GattServer::addService(), which requires us to collect the characteristics into an array before passing it into the service constructor. This forces an ugly pattern for construction. A better method would be:

GattService s(UUID,...);
ble.gattServer().addService(s);
GattCharacteristic c1(UUID,...);
ble.gattServer().addCharacteristic(c1);

or even better:
ble.gattServer() <<

[2015-07-01 07:17] rgrover opened #49 "DiscoveredCharacteristic::setupOnDataRead() should be GattClient::onDataRead() instead"
This was a poor choice for the original API. We should rectify it.

[2015-07-01 07:19] #49 closed

[2015-07-04 08:20] praveenpnj94 opened #52 "Need some help regarding the development of BLE network simulator"
Hi Mr. Rohit,
@rgrover

I am really sorry for this as my post may sound unclear and weird but i am in need of some help. I was trying to develop a network simulator for BLE network so that we can simulate and check where to place the beacons depending upon the mobility pattern, varying different scan and advertising intervals. For this, we were trying to use NS3 and build BLE module. But BLE seems

[2015-07-06 08:17] rgrover opened #53 "add GattClient::onHVX"
Refer to: https://developer.mbed.org/forum/team-63-Bluetooth-Low-Energy-community/topic/16517/?page=1#comment-38840

We need to allow users to setup callbacks for handle-value update events (notifications and indications). There's also the need for APIs to enable these; that's going to be handled as a separate isssue.

[2015-07-06 08:36] #53 closed

[2015-07-06 08:38] rgrover opened #54 "add API to enable notifications"
refer to https://developer.mbed.org/forum/team-63-Bluetooth-Low-Energy-community/topic/16517/?page=1#comment-38845

It could be that what's needed here is a simple API like: DiscoveredCharacteristic::enableNotification(), but then that would allow manipulation of only the CCCD. There may be other writable descriptors, which would then require a more generic API.

There's an API meant to discover d

[2015-07-06 10:12] rgrover commented on #52
please refer to: http://docs.mbed.org/docs/ble-intros/en/latest/GettingStarted/IntroSamples/

[2015-07-06 10:12] #52 closed

[2015-07-22 14:41] prusnak opened #57 "add support for Eddystone"
Having a service similar to `ble/services/iBeacon.h` but for Eddystone would be nice.

Eddystone protocol specification: https://github.com/google/eddystone/blob/master/protocol-specification.md

Sample source code: http://qiita.com/KazuyukiEguchi/items/a939a9aeae2d36c51df8

[2015-07-22 17:31] rgrover commented on #57
we're working on it.

[2015-07-22 20:19] fabiencomte opened #58 "add central role for s130"
It should be nice if we can use all roles of s130 at the same time.

[2015-07-23 08:56] rgrover commented on #58
BLE API already allows devices to become a central and use client-APIs. What exactly to is this issue about?

[2015-07-23 08:58] rgrover commented on #46
This has been resolved. Please re-open if needed.

[2015-07-23 08:58] #46 closed

[2015-07-23 09:01] rgrover commented on #17
This has been resolved. Refer to https://github.com/ARMmbed/BLE_API/blob/master/ble/services/URIBeaconConfigService.h#L47. Please re-open if required.

[2015-07-23 09:01] #17 closed

[2015-07-23 09:02] rgrover commented on #58
https://developer.mbed.org/forum/team-63-Bluetooth-Low-Energy-community/topic/16517/

[2015-07-23 09:02] #58 closed

[2015-07-23 14:43] fabiencomte commented on #58
In this forum, someone said that it was not ready.
https://developer.mbed.org/questions/54431/nRF51-S130-central-role-and-roadmap/
So all is ready now ?

[2015-07-23 14:50] fabiencomte commented on #58
and from https://developer.mbed.org/teams/Bluetooth-Low-Energy/wiki/mbed-BLE-Roadmap

Switching Bluetooth Versions

Top of our list of priorities for the coming releases is extending our BLE APIs to support Bluetooth 4.1 and 4.2. This is expected to bring several improvements:
Support for multiple concurrent connections to the peripheral, and being able to act as a peripheral and central at the sa

[2015-07-24 07:52] rgrover commented on #58
yes, the item "support for multiple concurrent connections to the peripheral, and being able to act as a peripheral and central at the same time" is now available. We will create a demo for this shortly.

[2015-07-25 09:38] fabiencomte commented on #58
Hello,
Demo will be very useful.
Thank you for your work.

[2015-07-26 10:17] rgrover commented on #58
Thanks for appreciating.
We're doing our best to accommodate the need for more demos with other re-architecture work. Should anyone from the community offer any demos, it would be delightful.

[2015-07-29 14:27] swatissehgal opened #60 "enableActiveScanning()"
I am trying to start by passive scanning using enableActiveScanning(false) and then later when a certain data is received in the advertisement packet start active scanning( by using enableActiveScanning(true)).

It seems it is not possible to dynamically change between active and passive scanning as once the device starts with a particular activeScanning parameters, it is not possible to change (

[2015-08-07 08:19] rgrover opened #64 "GapAdvertisingData::getPayload() should not return NULL if payloadLen == 0"
This is the root cause of: https://github.com/ARMmbed/nRF51822/issues/30
getPayload() should return the payload pointer regardless of len.

[2015-08-07 14:50] #60 closed

[2015-08-07 14:50] #64 closed

[2015-08-07 15:01] rgrover commented on #57
@BlackstoneEngineering : could you please update and publish a demo on mbed.org around Eddystone. Please note that EddystoneService has now been added to ble/services/

[2015-08-07 19:55] BlackstoneEngineering commented on #57
Waiting on @rgrover, I can release the preliminary version, but I would really like to use pull request https://github.com/ARMmbed/ble/pull/61 to make an eddystone service that plays nice with other services. The current example clobbers any other service on the device.

[2015-08-08 21:11] rgrover commented on #57
There's an initial Eddystone service in BLE_API. It was borrowed from work done by @BlackstoneEngineering. I made some changes to the initialization code (removed ble.shutdown() and ble.init()); it is very likely that the current state needs some more work and testing before it can be published as a demo.

[2015-08-10 20:09] BlackstoneEngineering commented on #57
I have removed the changes (as they broke the service, will revisit at a later date to re-impliment) and submitted a pull request here: https://github.com/ARMmbed/ble/pull/66

[2015-08-12 19:27] BlackstoneEngineering commented on #57
Here ya go : https://developer.mbed.org/teams/Bluetooth-Low-Energy/code/BLE_EddystoneBeacon_Service/

[2015-08-21 14:10] ddavidebor opened #68 "ERROR: undefined reference to `createBLEInstance()'"
white trying to compile source code offline i'm having the same issue over and over again.

it has been similarly reported here https://developer.mbed.org/questions/54408/Build-error/

i'm unable to find where is the problem in the linker, i'm using the 16k S110 version

Linking CXX executable BLE_HEART_RATE.elf
CMakeFiles/BLE_HEART_RATE.elf.dir/main.cpp.o: In function `_GLOBAL__sub_I_IRLed':
main

[2015-08-21 15:33] #68 closed

[2015-08-26 14:59] fabiencomte opened #69 "Infinite busy"
Hello,

I tried this code on 3 boards to make a triangle to test central and device role at same time with S130 on nRF51.

frequently, i loop in busy (2) and never goes out. Maybe i did a mistake, this is my code.

#include "mbed.h"
#include "BLE.h"
#include "UARTService.h"
#include "ble/DiscoveredCharacteristic.h"
#include "ble/DiscoveredService.h"
#include "UARTService.h"

#define SOFT_DEVICE_FA

[2015-09-23 21:56] remay commented on #54
Just for the record I have been using this extension to DiscoveredCharacteristics, which is very similar to your proposed DiscoveredCharacteristic::enableNotification():

    ble_error_t
    DiscoveredCharacteristic::requestHVX(HVXType_t type) const
    {
        if (!props.write()) {
            return BLE_ERROR_OPERATION_NOT_PERMITTED;
        }

        if (!props.notify()) {
            return

[2015-09-23 21:59] remay commented on #54
And, of course, having posted that I see that the second test in not correct for indications, that have their own property.  But you get the idea.

[2015-10-11 05:42] jrobeson commented on #27
any update on this?

[2015-10-12 13:02] rgrover commented on #27
No. There are community pages on mbed.org (team Bluetooth Low Energy) to describe the process of building the bootloader. We haven't had the time to invest in creating build instructions using gcc.

[2015-10-15 15:08] rainierwolfcastle commented on #69
http://jira-dev0.cambridge.arm.com/browse/IOTSFW-860

[2015-10-15 15:08] rainierwolfcastle commented on #57
http://jira-dev0.cambridge.arm.com/browse/IOTSFW-861

[2015-10-15 15:08] rainierwolfcastle commented on #54
http://jira-dev0.cambridge.arm.com/browse/IOTSFW-862

[2015-10-15 15:08] rainierwolfcastle commented on #48
http://jira-dev0.cambridge.arm.com/browse/IOTSFW-863

[2015-10-15 15:08] rainierwolfcastle commented on #47
http://jira-dev0.cambridge.arm.com/browse/IOTSFW-864

[2015-10-15 15:08] rainierwolfcastle commented on #27
http://jira-dev0.cambridge.arm.com/browse/IOTSFW-865

[2015-10-15 15:08] rainierwolfcastle commented on #26
http://jira-dev0.cambridge.arm.com/browse/IOTSFW-866

[2015-10-15 15:08] rainierwolfcastle commented on #19
http://jira-dev0.cambridge.arm.com/browse/IOTSFW-867

[2015-10-15 15:19] BlackstoneEngineering commented on #57
@rainierwolfcastle this is a public facing repository, please dont post Jira tickets here.

[2015-10-16 05:38] jrobeson commented on #69
@rainierwolfcastle : that url doesn't seem valid. says server doesn't exist

[2015-10-16 05:52] rgrover commented on #69
@jrobeson that's an ARM internal URL

[2015-10-16 06:12] rgrover commented on #57
the eddystone service is now a part of the standard services supported by BLE_API.

[2015-10-16 06:12] #57 closed

[2015-10-16 06:16] rgrover opened #77 "add support for presentation format descrictor when defining a characteristic"
Refer to the user request: https://developer.mbed.org/questions/61200/Setting-BLE-Characteristic-Units/

We need to support the presentation format descriptor when defining characteristics.

[2015-10-16 06:38] jrobeson commented on #69
then they should prefix those messages saying so :)

[2015-10-16 06:40] jrobeson commented on #69
@fabiencomte: you should post this program as a gist, it'd be a lot easier to read that way. Also, cut it down to the minimal amount of code to reproduce the problem.

[2015-10-16 06:49] rgrover commented on #69
@jrobeson you're right. they should be marked as ARM internal

[2015-10-16 06:55] 0xc0170 commented on #69
Definitely, I thought the plan was to add there internal word. sorry for confusion

[2015-10-16 11:22] remay commented on #54
Update, this is what I'm currently using:

[code]

[2015-10-16 13:26] prusnak commented on #57
Great! Thanks!

[2015-10-16 15:48] rainierwolfcastle commented on #77
ARM Internal Ref: IOTSFW-1031

[2015-10-16 15:48] rainierwolfcastle commented on #69
ARM Internal Ref: IOTSFW-1032

[2015-10-16 15:48] rainierwolfcastle commented on #54
ARM Internal Ref: IOTSFW-1033

[2015-10-16 15:48] rainierwolfcastle commented on #48
ARM Internal Ref: IOTSFW-1034

[2015-10-16 15:48] rainierwolfcastle commented on #47
ARM Internal Ref: IOTSFW-1035

[2015-10-16 15:48] rainierwolfcastle commented on #27
ARM Internal Ref: IOTSFW-1036

[2015-10-16 15:48] rainierwolfcastle commented on #26
ARM Internal Ref: IOTSFW-1037

[2015-10-16 15:48] rainierwolfcastle commented on #19
ARM Internal Ref: IOTSFW-1038

[2015-10-20 10:27] rgrover commented on #19
I believe we have solved this problem using writeAuthorization callbacks.

[2015-10-20 10:27] #19 closed

[2015-10-20 11:07] rgrover commented on #69
@fabiencomte is this still an issue for you?

[2015-10-21 15:24] pan- opened #80 "Gap state is not updated when the advertising stop after the timeout"
The state of the Gap is not properly updated when the advertising stop after a timeout.

[code]

[2015-10-21 19:00] simonqhughes commented on #80
ARM Internal Ref: IOTSFW-1066

[2015-10-26 15:38] pan- opened #83 "Advertising data and scan response are committed into Gap object even if the underlying implementation failled"
To illustrate the issue, I will just take the code from Gap::setAdvertisingPayload

[code]

The member _advPayload is updated even if the *setAdvertisingData* implementation fail. As a result, next calls to getAdvertisingPayload or updateAdvertisingPayload will use or return an invalid advertisingPayload.

Member functions which can commit invalid data are:
* accumulateAdvertisingPayload
* updateA

[2015-10-26 15:49] pan- opened #84 "Gap::updateAdvertisingPayload should work for different length of data"
The use of the function Gap::updateAdvertisingPayload can be improved:
* It is not possible to update a payload field if the new data have size different than the previous one.
[code]
* The user have to keep track of every field size if he want to update a field later

[2015-10-26 15:54] rainierwolfcastle commented on #84
ARM Internal Ref: IOTSFW-1085

[2015-10-26 15:54] rainierwolfcastle commented on #83
ARM Internal Ref: IOTSFW-1086

[2015-10-26 15:55] pan- opened #85 "GAP: functions setScanResponse, getScanResponse and updateScanResponse are missing"
It would be nice if the "ScanResponse" API mirrored the "AdvertisingPayload" API.
In this regard, functions: `setScanResponse`, `getScanResponse` and `updateScanResponse` are missing from the current GAP API

[2015-10-26 16:00] simonqhughes commented on #85
ARM Internal Ref: IOTSFW-1089

[2015-10-26 16:14] LiyouZhou opened #86 "Wrong include file in HealthTermometerService.h:20:17"
/work/iot/ble-examples/BLE_Thermometer/yotta_modules/ble/ble/services/HealthThermometerService.h:20:17: fatal error: BLE.h: No such file or directory
 #include "BLE.h"
                 ^
compilation terminated.

[2015-10-26 16:44] rainierwolfcastle commented on #86
ARM Internal Ref: IOTSFW-1090

[2015-10-26 16:49] rgrover commented on #86
@LiyouZhou Could you please check with @andresag01 why you are having difficulty building this example?

[2015-10-26 18:21] andresag01 commented on #86
It seems that the include path of BLE.h within the HealthThermometerService.h file should be replaced by "ble/BLE.h".

[2015-10-26 18:23] rgrover commented on #86
could you please do this, Andres, and submit a pull request?

[2015-10-27 14:22] andresag01 commented on #86
Submitted pull request to 'develop' branch to solve this issue.

[2015-10-27 15:39] pan- opened #88 "Make UARTService connection oriented"
The UART service can only be used with one connection at the moment, as soon as a second connection happen on the device, the write operation stop working (see https://developer.mbed.org/forum/team-63-Bluetooth-Low-Energy-community/post/40093/ and the following response).

It would be great if each BLE connection can have its own UART connection.

[code]

[2015-10-27 17:32] rgrover commented on #86
this will be committed to master with the next release.

[2015-10-28 07:47] betzw opened #89 "All BLE event handling should happen in thread mode"
Hi @rgrover,
I have the impression that the current version of ble is not "really" ported to mbedOS/minar as it still makes use of the "old" interfaces of Tickers and callbacks which get then executed in interupt context (e.g. https://github.com/ARMmbed/ble/blob/master/ble/services/EddystoneService.h#L490).
Can you confirm this and is there a version of the BLE stack which would use minar callback

[2015-10-28 08:36] rgrover commented on #89
@betzw There is only one version of ble. And we intend to keep it compatible both with mbedOS and mbed-classic. Use of minar to schedule callbacks would violate compatibility with mbed-classic. Tickers are abstractions that remain alive across mbed-classic and mbed OS.

The fact is that the current Ticker implementation in mbed OS uses interrupt context (like it used to in mbed-classic). If Ticker

[2015-10-28 08:48] betzw commented on #89
Yes, this is exactly what happens with the st-ble-shield, it gets messed up :(
So do you have any concrete plans to implement tickers which do (at least in mbedOS) not execute their callbacks in interrupt context?

[2015-10-28 09:47] rgrover commented on #89
I believe applications needing periodic callbacks can easily switch to Minar supported callbacks for mbed OS. We'll be updating EddystoneService (and the likes) to not use Ticker; or at least not call BLE_API from Ticker handlers.

[2015-10-28 09:52] betzw commented on #89
Sounds great!
Pls. let us know when we can try these modifications.

@screamerbg

[2015-10-28 09:56] rgrover commented on #89
One of my colleagues, @andresag01, is working on a version of Eddystone which doesn't use the Ticker for BLE_API calls. I'm sure he would send us an update when he has something to share.

[2015-10-28 12:02] rgrover opened #90 "BLE::init() should be non-blocking"
Currently the demo applications call init() and then expect to operate on the BLE instance rightaway.  This model may not apply to stacks where initialization requires several rounds of blocking message passing between the host and the controller. BLE::init() should be non-blocking and should result in a completionCallback() when initialization is complete. It should also be possible for the appli

[2015-10-28 12:08] rgrover commented on #90
!This may result in a rewrite of all demos! The Nordic stack initializes rightaway, and so existing demos should continue to work against Nordic.

mbed-classic demos would look something like:

[code]

whereas mbedOS demos would look like:

[code]

[2015-10-28 14:08] rainierwolfcastle commented on #90
ARM Internal Ref: IOTSFW-1098

[2015-10-28 14:08] rainierwolfcastle commented on #89
ARM Internal Ref: IOTSFW-1099

[2015-10-28 14:08] rainierwolfcastle commented on #88
ARM Internal Ref: IOTSFW-1100

[2015-10-30 14:44] Timmmm opened #93 "Terrible handling of initLen / minLen and variable length characteristics."
See: https://devzone.nordicsemi.com/question/34390/no-ble_gatt_hvx_notification-under-20-bytes/?answer=55637#post-id-55637

Basically there are two problems:

1. The `GattCharacteristic` `initLen` parameter is randomly named `minLen` too. If you follow the code all the way through it actually does two things - it is the initial length (*not* minimum), and it determines whether the characteristic i

[2015-11-02 09:08] #86 closed

[2015-11-02 09:08] #90 closed

[2015-11-02 11:43] rainierwolfcastle commented on #93
ARM Internal Ref: IOTSFW-1159

[2015-11-03 06:44] rgrover opened #96 "Add support for HomeKit"
We should be able to offer services and code-patterns to plug peripherals into HomeKit.

[2015-11-03 13:23] rainierwolfcastle commented on #96
ARM Internal Ref: IOTSFW-1164

[2015-11-03 15:14] pan- opened #98 "There is no way easy way to know if the initialization process failed while using mbed classic"
Ble initialisation process in mbed classic should like like this:

[code]

If something goes wrong during the initialization, the application has no way to knows it. It will just wait forever that the initialization complete. This can be a problem.

[2015-11-04 13:20] rgrover opened #99 "remove dependency on mbed.h from ble"
BLE_API needs very little from mbed (uses only error()). It would be good to make BLE independent of mbed.h. It can then be used on non-mbed platforms.

this is a nice-to-have.

[2015-11-16 09:47] rgrover commented on #89
Radio-notification handling is now done at a lower priority. They post events to MINAR.
Refer to https://github.com/ARMmbed/ble-nrf51822/blob/develop/source/nRF5xGap.h#L114
@note: this is still in the develop branch of ble-nrf51822.
@betzw : Please confirm that this solves your issue.

[2015-11-16 09:48] rgrover commented on #89
@note: this issue actually belongs to ble-nrf51822.

[2015-11-16 09:49] rgrover commented on #89
We've published ble-nrf51822 v2.0.5 to address this issue.

[2015-11-16 13:24] rgrover commented on #89
In our recent posts for this issue, we did not clarify how RadioNotification callbacks are related to this issue. Apologies.
Our goal is to provide an alternate implementation for Eddystone which doesn't rely upon Ticker to call into BLE_API. This updated implementation uses the radioNotificationCallback, which uncovered another issue with their use on the Nordic platform.

We've now resolved the

[2015-11-17 07:49] betzw commented on #89
@rgrover could you pls. clarify which repo/branch I should test?

[2015-11-17 08:03] jrobeson commented on #89
@betz develop branch of https://github.com/ARMmbed/ble-nrf51822/

[2015-11-17 08:10] rgrover commented on #89
I'll soon be publishing an updated version of Eddystone developed by @andresag01. It should arrive under https://github.com/ARMmbed/ble-examples; and eventually under https://github.com/ARMmbed/ble
Presently it is a pull request for ble-examples.

[2015-11-17 08:14] betzw commented on #89
Looking at the code at https://github.com/ARMmbed/ble-nrf51822/blob/develop/source/nRF5xGap.h#L114 to me this seems to be in the right direction. But how can I test it and confirm that it resolves the issue on our expansion board?

[2015-11-17 08:18] jrobeson commented on #89
by replacing your version of ble-nr51822 with the one from the develop branch.

[2015-11-17 08:22] betzw commented on #89
Are you kidding?

[2015-11-17 08:30] jrobeson commented on #89
no? you configure your your module.json for ble-nrf51822 like so

"dependencies": {
        "ble-nrf51822": "ARMmbed/ble-nrf51822#develop"
    }

[2015-11-17 08:36] betzw commented on #89
I do not have a nrf51822.

[2015-11-17 08:38] rgrover commented on #89
@betzw as long as your port of BLE handles radio-notification events in a CriticalSection-safe manner, you're fine. You don't need to test this against Nordic if you don't have an nRF51.

[2015-11-17 08:40] rgrover commented on #89
@betzw as a general guide for porters of BLE_API: BLE stack generated interrupts should respect the HAL's CriticalSection; if any interrupt violates this expectation, then mbedOS APIs shouldn't be called directly from such a handler.

[2015-11-17 08:57] betzw commented on #89
OK, but how can I test it on our x-nucleo-idb04a1? I.e. should I wait for you to merge it into ARMmbed/ble-examples and/or ARMmbed/ble?

[2015-11-17 08:59] rgrover commented on #89
@betzw you'll soon find an update version of Eddystone under ble-examples. Please test that.

[2015-11-17 09:55] andresag01 commented on #89
@betzw We have made a new implementation of EddystoneService that does not use any Timeout or Ticker callbacks when used with mbedOS. Please use this one on your tests. It can be found on [ble-examples](https://github.com/ARMmbed/ble-examples).

[2015-11-17 10:42] andresag01 commented on #89
@betzw to avoid any confusion, we have consolidated the Eddystone examples in [ARMmbed/ble-examples](https://github.com/ARMmbed/ble-examples) repo master branch. We have removed all the "old" examples that used the previous implementation (i.e. BLE_EddystoneBeacon and BLE_EddystonBeaconConfigService) and replaced them with the example using the new Eddystone implementation that can be found under

[2015-11-17 11:17] betzw commented on #89
Seems as if there is a ```nrf``` dependence in the code:
[code]

[2015-11-17 12:33] rgrover commented on #89
@andresag01: could you remove persistence from the demo?

[2015-11-17 13:23] andresag01 commented on #89
@rgrover @betzw Dependencies on nrf51 modules have been removed from the example.

[2015-11-17 13:25] rgrover commented on #89
@andresag01 :+1:

[2015-11-17 13:41] betzw commented on #89
OK, seems to work fine.
Thanks!

[2015-11-18 08:41] #89 closed

[2015-11-25 17:01] pan- opened #115 "GattCharacteristic size can be optimized by removing read and write authorization callback"
Each `GattCharacteristic` store two FunctionPointersWithContext, one for the readAuthorization callback and one for the writeAuthorization callback. This waste some space given that:
   - In practice these authorizations are not always used (especially the readAuthorization)
   - The implementation of GattServer has to keep track of all GattCharacteristics registered

One way to get rid of these c

[2015-11-25 18:45] rgrover commented on #115
thanks for raising this.

[2015-11-25 23:18] ciarmcom commented on #115
ARM Internal Ref: IOTSFW-1331

[2015-11-26 08:38] rgrover commented on #93
@Timmmm I agree that `initLen` should not have been renamed as `minLen`. I also agree that `initlen != minLen` should not be a criteria for variable-length characteristics.

[2015-11-27 10:51] andresag01 opened #121 "Radio Notifications API missing functionality?"
Recently, the Radio notification API was modified to NOT initiate radio notification when a callback is registered using [onRadioNotification](https://github.com/ARMmbed/ble/blob/master/ble/Gap.h#L981). This conforms to the documentation, which now enforces applications to execute something like the following to get Radio Notifications started:
[code]
Nevertheless, the handler only really gets cal

[2015-11-27 11:19] pan- commented on #121
it make sense to register the callback at the point you start the process but I don't think that it belong to the `onRadioNotification` function. Even if we change the documentation, the name doesn't indicate what the function actually does. Plus, sometime you just want to register callbacks at the start of your application then later, depending on the program flow, activate/deactivate the process

[2015-11-27 11:22] rgrover commented on #121
yes, I'm happy with setting up a callback along with startRadioNotification()

[2015-11-27 11:24] andresag01 commented on #121
I am happy with the `startRadioNotification()`, but I also think we should have the `stopRadioNotification()`. I think that currently the only way to stop the callbacks would be to call `ble.shutdown()` or perhaps using `onRadioNotification(NULL)` (havent tested this one though).

[2015-11-27 11:31] pan- commented on #121
Yes, it would be a great addition Andres, API has to be symmetrical. Start/Stop is easy to understand.

[2015-11-27 17:25] ciarmcom commented on #121
ARM Internal Ref: IOTSFW-1361

[2015-11-27 17:40] andresag01 commented on #93
@Timmmm Apologies on the delay for a fix. I have just submitted two pull requests to address the issue (to [ble](https://github.com/ARMmbed/ble/pull/122) and [ble-nrf51822](https://github.com/ARMmbed/ble-nrf51822/pull/78)). The `GattAttribute.initialLen` was removed and we are now using `len` as the current length of `*valuePtr` and `maxLen` as the maximum value of `*valuePtr`. Therefore, we have

[2015-11-27 18:33] Timmmm commented on #93
Awesome, no need to apologise!

[2015-12-02 11:53] andresag01 commented on #93
@Timmmm I have made the latest changes to allow variable length characteristics by passing a boolean to the constructor. Please see: https://github.com/ARMmbed/ble/commit/d71c3161811f126875aa917100967364a303d274.

[2015-12-02 11:54] #93 closed

[2015-12-02 12:12] Timmmm commented on #93
Excellent, thanks!

[2015-12-03 15:40] andresag01 opened #133 "BLE API does not handle minimum and maximum intervals as in the specification"
In the BLE API Gap.h contains the following functions:

* `getMinAdvertisingInterval()`
* `getMinNonConnectableAdvertisingInterval()`
* `getMaxAdvertising interval()`

The Bluetooth v4.2 specfication states the follwing:
[code]
Taking this into account, it is not clear from the BLE API documentation what are the differences between  `getMinAdvertisingInterval()` and `getMinNonConnectableAdvertisin

[2015-12-03 21:04] ciarmcom commented on #133
ARM Internal Ref: IOTSFW-1368

[2015-12-04 07:49] rgrover commented on #133
@andresag01
getMinNonConnectableAdvertisingInterval() returns the interval which applies to non-connectable advertising; whereas  getMinAdvertisingInterval() returns the interval for other types of advertising. Is this a case of expanding on the existing documentation?

[2015-12-04 09:24] andresag01 commented on #133
@rgrover: Yes, it seems that this is the case. For instance, the documentation for getMinAdvertisingInterval() states:
[code]
Which does not mention connectable or non-connectable packets.

[2015-12-04 09:41] rgrover commented on #133
please submit a PR to fix this documentation

[2015-12-04 10:15] pan- commented on #133
The specification state that advInterval **shall** be in range [20ms, 10.24s] which means that the standard mandate that the minimum advertising interval is 20ms.

The standard also say that for `scannable undirected`  and `non-connectable undirected`, the advertising *shall not be less than 100ms`.

Plus, there is a low duty cycle and high duty cycle advertising rate for `connectable directed eve

[2015-12-04 13:15] rgrover commented on #133
I've deleted the obsolete comment block from the documentation of `setAdvertisingInterval`. Let's file an issue about setAdvertisingInterval and see how we all feel about changing the API so that both the advertising type and interval can be set simultaneously.

[2015-12-04 16:02] andresag01 opened #135 "Problems with BLE address handling"
In BLE there are 4 types of addresses:

* Public MAC address:
* Random static
* Random unresolvable
* Random resolvable

According to the BLE spec v4.2 in Vol 6, Part B Section 1.3:
[code]
Currently, the available APIs to handle addresses are [getAddress()](https://github.com/ARMmbed/ble/blob/develop/ble/Gap.h#L177) and [setAddress()](https://github.com/ARMmbed/ble/blob/develop/ble/Gap.h#L164) in

[2015-12-04 18:04] LiyouZhou opened #136 "Two different enum list of BLE appearances"
one in blecommon.h other one in GapAdvertisingData.h

[2015-12-04 21:10] ciarmcom commented on #136
ARM Internal Ref: IOTSFW-1373

[2015-12-04 21:11] ciarmcom commented on #135
ARM Internal Ref: IOTSFW-1374

[2015-12-07 15:14] pan- opened #137 "Handling of failure during GattClient operations is missing"
The current GattClient API does not provide any way to catch a failure during a GattClient procedure. The following procedure miss this feature:
- Primary service discovery
- Characteristic discovery
- read attribute value
- write attribute value

With the current implementation, if something fail during one of this procedure, the client will never now that the procedure has ended and will not be

[2015-12-07 15:18] rgrover commented on #137
thanks for pointing out this gap in our APIs. We should allow registering a callback to discover erorrs.

[2015-12-07 16:25] pan- opened #138 "Missing GattClient write operation"
Some write operations are missing from the current implementation:
- signed write command
- write blob operations:
  - prepare write request
  - execute (commit) write request

[2015-12-07 17:12] ciarmcom commented on #138
ARM Internal Ref: IOTSFW-1375

[2015-12-07 17:12] ciarmcom commented on #137
ARM Internal Ref: IOTSFW-1376

[2015-12-09 15:45] marcuschangarm commented on #115
I'm not particular fond of the current onDataRead, onDataWritten and onDataSent callbacks because all subscribers get notified whether or not the event is relevant for them.

For example, if I have multiple services running at the same time I'm only interested in the data read/write callback for that particular characteristic.

On the watch, I only use readAuthorization and writeAuthorization inst

[2015-12-09 15:49] marcuschangarm opened #139 "Callback chain in Security Manager"
It would be useful if (at least) onLinkSecured could have multiple callbacks, since different modules could depend on knowing the security status of the connection.

[2015-12-09 17:10] andresag01 commented on #138
This seems to be a problem if the user requires writing a characteristic with a value that is longer than 21 bytes. For instance, the device name characteristic value can be up to 248 bytes.

[2015-12-09 17:11] ciarmcom commented on #139
ARM Internal Ref: IOTSFW-1395

[2015-12-10 08:10] rgrover commented on #138
i expect there would be a limit to the size of write supported by the Attribute Protocol. There are other commands to handle large writes: 'prepare write' and 'execute write'. We haven't implemented those in BLE_API yet.

[2015-12-15 11:14] rgrover opened #143 "GapAdvertisingParams::set*() methods should allow chaining"
i.e. it should be possible to say:

`ble.gap().getAdvertisingParams().setInterval(...).setWhiteList(...)`...

[2015-12-15 11:26] rgrover opened #144 "some sub-types and constants applicable to GapAdvertisingParams could be extracted to BLEProtocol.h"
`AdvertisingType_t` can encapsulated into a struct and possibly be moved.
we can create types for advertising interval and timeout.
constants defining min and max for the interval and timeout could be extracted.

[2015-12-15 11:32] andresag01 commented on #144
@rgrover: If we are thinking of moving the constants defining min and max for the interval and timeout perhaps we should also consider moving the constants in GapScanningParams. See https://github.com/ARMmbed/ble/blob/master/ble/GapScanningParams.h#L22.

[2015-12-15 13:11] ciarmcom commented on #144
ARM Internal Ref: IOTSFW-1421

[2015-12-15 13:11] ciarmcom commented on #143
ARM Internal Ref: IOTSFW-1422

[2015-12-15 13:21] rgrover commented on #144
@andresag01 yes, that's valid. Thanks for bringing this up.

[2015-12-16 10:34] andresag01 opened #147 "APIs for BLE address generation"
In BLE there are 4 types of addresses:

* Public
* Random static
* Random resolvable private address
* Random non-resolvable private address

According to the specification v4.2 Vol 6 Part B Section 1.3 each of these addresses has a specific format. It would be desirable to have APIs that can generate these addresses automatically so that the user does not have to worry about the details of valid

[2015-12-17 17:39] andresag01 commented on #84
It seems that this issue has been resolved partly. From the documentation, it seems that `accumulateAdvertisingPayload()` function is only meant for appending information to the packet payload and the `updateAdvertisingPayload()` is meant for replacing the value of a field with a specific AD type. However, the behaviour of the functions is actually as follows:

* `updateAdvertisingPayload()`: iter

[2015-12-17 17:52] andresag01 commented on #139
@marcuschangarm you mentioned mentioned the `onLinkSecured` callback, but you also said "at least". What other callbacks in the security manager could benefit from a callchain? Currently, these are the callbacks in [SecurityManager](https://github.com/ARMmbed/ble/blob/develop/ble/SecurityManager.h#L299):
[code]
I would also like to point out that callchains have an associated cost in memory, inclu

[2015-12-18 07:56] rgrover commented on #84
accumulate() should call update() when it finds the AD structure. The logic within accumulate() which deals with handling existing AD structures should move into update().

@marcuschangarm  please review.

[2015-12-18 10:41] marcuschangarm commented on #84
The most recent changes are here: https://github.com/ARMmbed/ble/commit/fea34e77471d56d563023a37b6fb311c7e8bce82

I made the changes to ```GapAdvertisingData::addData``` because it required the least amount of overall changes.

```Gap::updateAdvertisingPayload``` and ```GapAdvertisingData::updateData``` are obsolete at the moment.

What we should have is an advertising manager with a nice API to h

[2015-12-18 10:50] marcuschangarm commented on #139
The problem I've been running into is how to make compartmentalized modules that run concurrently. I'm using ```onLinkSecured``` to indicate whether a connection is secured. I've have not found use for the other functions yet, hence the 'at least'.

[2015-12-18 11:09] andresag01 commented on #139
@rgrover @pan-: Having a second look at this issue, it seems a bit problematic to make the requested changes without modifying the existing API. This is because most of the callbacks in security manager require more than one parameter to be passed while the FunctionPointerWithContext can only handle a single parameter. A work around this is to put all the parameters inside a structure and pass thi

[2015-12-18 13:58] pan- opened #152 "Improve deprecation of BLE API features"
Deprecation of features of BLE API can be more visible to end user. There is two ways to improve this:

- Documentation: doxygen support a directive for deprecated elements: `\deprecated`. This tag should be use for all deprecated entities in BLE API.
- Warning at compile time: [compiler-polyfill](https://github.com/ARMmbed/compiler-polyfill) now support a `__deprecated_message` macro. It can be u

[2015-12-21 08:51] rgrover commented on #139
It was an oversight on my part to not define structures for the callbacks in SecurityManager. I believe we should switch to using such structures and also allow chaining of callbacks. This would be a breaking change, but perhaps not too many people from the mbed-classic world would be using security. @pan-  do you support this?

[2015-12-21 09:02] pan- commented on #139
I would rather prefer to extend FunctionPointerWithContext and allow it to support multiples parameters instead of making a breaking change.

[2015-12-21 10:33] marcuschangarm commented on #139
Why not remove FunctionPointerWithContext completely and switch to the new FunctionPointer class in core-util?

Maintaining two function pointer classes seems like a waste of resources.

[2015-12-21 10:39] rgrover opened #156 "AdvertisementCallbackParams_t should include addressType for the peerAddr"
without this information, a potential central may not be able to connect to a peripheral due to mismatched address-type.

[2015-12-21 10:46] pan- commented on #139
Sure, the problem is that their is no function pointer implementation in mbed classic :(.

[2015-12-21 10:48] marcuschangarm commented on #139
The new function pointers only depend on the standard library. Manually copy-pasting them would still be easier than maintaining a parallel function pointer class.

[2015-12-21 10:51] andresag01 commented on #139
If we change the FunctionPointerWithContext for the other function pointers then we are definitely making a very large breaking change.

[2015-12-21 11:11] ciarmcom commented on #156
ARM Internal Ref: IOTSFW-1479

[2015-12-21 11:14] andresag01 opened #157 "GapState_t missing information?"
The description of `Gap::GapState_t` is as follows:
[code]
Shouldn't this structure contain information about scanning and not just advertising/connected?

[2015-12-21 11:19] marcuschangarm commented on #139
A better question is, when are we going to feature freeze mbed classic (and only do bug support) and focus all our effort on mbed OS?

[2015-12-21 11:21] andresag01 commented on #136
I believe this has already been addressed.

[2015-12-21 11:21] #136 closed

[2015-12-21 11:24] pan- commented on #139
@andresag01

No we don't as long as the function pointer interface has the same "concept".

But it will be require to update the callchain because function pointer from mbed os is just a function pointer and not a function pointer and a node of a linked list.

@marcuschangarm

I agree with everything.

[2015-12-21 11:26] pan- commented on #157
Scan and observe flags can be useful.

+1

[2015-12-21 13:17] ciarmcom commented on #157
ARM Internal Ref: IOTSFW-1482

[2015-12-21 15:08] #84 closed

[2016-01-12 11:18] jrobeson commented on #26
can this still be reproduced?

[2016-01-14 10:21] andresag01 opened #164 "GapAdvertisingData using deprecated type aliases"
Some parts of GapAdvertisingData are using type aliases that are marked as deprecated such as `DataType` and `Flags`. The usage of the deprecated types should be changed.

[2016-01-14 11:12] ciarmcom commented on #164
ARM Internal Ref: IOTSFW-1807

[2016-01-14 11:21] andresag01 opened #165 "Time unit inconsistencies in GapScanningParams"
GapScanningParams tries to expose the user to a comprehensible API to set different scan parameters such as scan window, scan interval, etc. The user can set the scan window and interval in terms of milliseconds, but internally these values get converted to units of 0.625 milliseconds. There are a few issues with the time units in the API:

1. The constructor is supposed to accept scan interval an

[2016-01-14 11:28] andresag01 opened #166 "Duplicated functionality in GapAdvertisingParams and GapScanningParams"
GapAdvertisingParams and GapScanningParams use `MSEC_TO_ADVERTISEMENT_DURATION_UNITS()` and `MSEC_TO_SCAN_DURATION_UNITS()` respectively to convert from milliseconds to units of 0.625. However, these two functions do exactly the same operation:
[code]
Therefore, this functionality is duplicated. Perhaps it should be included in a common location such as blecommon.h or BLEProtocol? These conversion

[2016-01-14 13:12] ciarmcom commented on #166
ARM Internal Ref: IOTSFW-1809

[2016-01-14 13:12] ciarmcom commented on #165
ARM Internal Ref: IOTSFW-1810

[2016-01-14 16:23] andresag01 commented on #80
Submitted a PR for this issue https://github.com/ARMmbed/ble/pull/168

[2016-01-14 16:27] pan- commented on #26
Not an issue, operator new will never return NULL if it is not the nothrow version of the operator which is called:

[code]

[2016-01-14 16:27] #26 closed

[2016-01-19 09:58] andresag01 commented on #83
The complete list of Gap members that can commit invalid advertising data follows.

* `accumulateAdvertisingPayload(flags)`
* `accumulateAdvertisingPayload(appearance)`
* `accumulateAdvertisingPayloadTxPower(power)`
* `accumulateAdvertisingPayload(type, data, length)`
* `updateAdvertisingPayload(type, data, length)`
* `setAdvertisingPayload(newPayload)`
* `accumulateScanResponse(type, data, length

[2016-01-19 14:58] andresag01 commented on #80
Changes merged to develop to fix this issue.

[2016-01-19 14:58] #80 closed

[2016-01-19 15:12] andresag01 commented on #133
@pan- I checked the source for both ble and ble-nrf51822 to see what was really going on. Indeed the `setAdvertisingInterval()` function does not check what the advertising type is. Therefore, the user is allowed to set any X but the API will correct the interval so that `X > getMinAdvertisingInterval()`. I believe this is the value to check against since `getMinAdvertisingInterval() < getMinNonCo

[2016-02-11 07:03] jrobeson commented on #69
I guess it can be closed then?

[2016-02-14 12:27] fabiencomte commented on #69
Hello,

Sorry, i missed previous messages notifications. I moved to Nordic SDK to avoid this issue.

[2016-02-14 12:27] fabiencomte commented on #69
Yes we can close

[2016-02-14 12:27] #69 closed

[2016-02-19 13:43] aracosta1 opened #177 "BLE.h conflict with Nordic SDK ble.h"
On case insensitive filesystems (Windows first) the two name collide and so often compilation fails because the compiler choose the first of the two file it find in its search path order.

This create big problem when tring to export from mbed online environment to offline build tools like EmBlock or other.

Is it possible to change the mane to something else like BLE_api.h or similar ?

[2016-02-19 14:04] pan- commented on #177
Hi,

We all agree that it is not pretty atm. but normally, name should not collides:
* BLE.h from the ble module is included by the directive: `#include <ble/Ble.h>`
* ble.h from the nrf51-sdk module is included by the directive `#include <ble.h>`

[2016-02-20 03:03] ciarmcom commented on #177
ARM Internal Ref: IOTSFW-2094

[2016-02-20 17:20] aracosta1 commented on #177
I have this problem exporting to Em:block.
The problem is the include statement in the nrf-51 sdk because it does not specify a path s it includes the first ble.h it found in the search path order the is the one from ble_api. I know the correct place to make changes should be the sdk, I'll try to raise the issue on the NRF51822 repository

[2016-03-01 08:02] 0xc0170 commented on #177
This was reported on forum.mbed.com, and there was a reference to gcc4mbed, they had the same problem: http://forums.mbed.com/t/error-mbed-nordic-semi-ble-includes-algorithm-into-c-files/1110

[2016-03-08 04:00] drewcassidy opened #179 "Using ANCS"
Will this library support ANCS (Apple Notification Center Service) in the future?

[2016-03-08 09:04] ciarmcom commented on #179
ARM Internal Ref: IOTSFW-2265

[2016-03-08 09:35] pan- commented on #179
ANCS will not be directly supported by this library but we already have a library built on top of BLE which manage ANCS: https://github.com/ARMmbed/ble-ancs-client .

[2016-03-18 15:54] pan- commented on #179
Since this is not an issue, I'm closing this.

[2016-03-18 15:54] #179 closed

[2016-03-18 16:01] pan- opened #181 "Add error handling to GattClient procedures"
With the current API their is no way to know if an error occur during the following GattClient procedures:
* `read`: If a read procedure fail, it should be possible to report this information to the application.
* `write`: If a write procedure fail, it should be possible to report this information to the application.

[2016-03-24 22:06] jcady92 commented on #156
Hi Rohit,

Any update on this issue?  I currently am using a gatt client to connect to both Android and iOS devices in the peripheral mode.  It looks like all iOS devices and newer Android devices use random private resolvable addresses.  But some older Android devices (like the Moto G 2014 running 5.0.2) use public addresses.  Right now it's impossible for me to connect to those devices without k

[2016-03-29 08:51] rgrover commented on #156
@jcady: my colleague @pan- should be responding to this shortly.

[2016-04-20 08:55] sunsmilearm opened #183 "Will we support BLE profiles?"
We have supported some BLE services, how about the profiles? Will we have C++ implementation for profiles using several services like HOGP?

[2016-04-20 09:31] pan- commented on #177
I think this issue has been solved with: https://github.com/ARMmbed/nrf51-sdk/pull/26 which is included in nrf51-sdk version 2.4.0.
@aracosta1 Could you comment on that ?

[2016-04-21 19:57] ciarmcom commented on #183
ARM Internal Ref: IOTSFW-2461

[2016-04-22 06:30] pan- commented on #183
@sunsmilearm A pull request has been made to support HID a long time ago, I didn't had time yet to integrate it.

You can try it if you want: https://github.com/ARMmbed/ble/pull/106
https://github.com/jpbrucker/BLE_HID

[2016-04-22 06:38] pan- commented on #83
Fixed by https://github.com/ARMmbed/ble/pull/171.

[2016-04-22 06:38] #83 closed

[2016-07-14 07:46] gaucho1978 opened #185 "Gap.h function updateConnectionParams not implemented"
in repository Bluetooth Low Energy / BLE_API / Gap.h on line 580, the function updateConnectionParams is not implemented. This is needed, when in master role, to reply to the parameter update request coming from the peripherial, according to this chart: http://infocenter.nordicsemi.com/index.jsp?topic=%2Fcom.nordic.infocenter.s130.api.v2.0.0%2Fgroup___b_l_e___g_a_p___c_e_n_t_r_a_l___c_p_u___m_s_c.

[2016-07-14 07:58] ciarmcom commented on #185
ARM Internal Ref: IOTSFW-2793

[2016-07-14 09:08] pan- commented on #185
@gaucho1978 You are looking at the abstraction and not the implementation.
This function is virtual and is overridden  by implementation.

The implementation on nrf51 is present (see [here](https://github.com/ARMmbed/ble-nrf51822/blob/master/source/nRF5xGap.cpp#L406))

Could you update your ticket if this answer your question ?

[2016-07-14 11:18] seajayshore commented on #89
Hi there, sorry to comment on a closed issue like this.

There are multiple seemingly related issues with using mbed-classic Tickers & the BLE_API / Softdevice on the Nordic devices where basically, after some time, the ticker interrupts stop firing and the application never returns to main() (but the Softdevice keeps running happily).

I've tried to get to the bottom of it but I'm not so familiar

[2016-07-14 11:32] seajayshore opened #186 "Possible Ticker BLE_API conflict causing problems with Nordic devices?"
Apologies if you've seen this before as this, or related issues, have appeared on other parts of the mbed forum/github. I now believe it's potentially a bug with the BLE_API so I'm posting an updated issue here.

When using Tickers in combination with the BLE_API & Softdevice on Nordic targets the application can unexpectedly hang. The Ticker interrupts stop firing and (from debug in Keil) it seem

[2016-07-14 11:58] ciarmcom commented on #186
ARM Internal Ref: IOTSFW-2794

[2016-07-14 12:00] pan- commented on #89
@seajayshore I'm able to reproduce the ticker issue on mbed OS, I don't think it is related to a race condition due to a ticker but rather to an internal overflow in the ticker. I'm still investigating it.

[2016-07-14 12:03] pan- commented on #186
@seajayshore Tickers are not used anymore by implementation of BLE API on Nordic platforms.
Your ticker issue is more likely related to an overflow in the ticker code.
Investigations are still going on.

[2016-07-14 13:53] gaucho1978 commented on #185
yes, sorry.
I'm continuing the debugging and if i call the following:
 Gap::ConnectionParams_t *connParams;
 connParams->minConnectionInterval=250;
 connParams->maxConnectionInterval=400;
 connParams->slaveLatency=4;
 connParams->connectionSupervisionTimeout=550;
ble_error_t resultCall= ble.updateConnectionParams(connHandle, connParams);
Serial.print("1.Result=" + String(resultCall) + "\r\n");

I

[2016-07-14 13:58] gaucho1978 commented on #185
I also add another issue, sorry if i'm making confusion. I updated also the original question.
Read also the following part of the question  please:
"More big problem, is that the peripherial is sending to the master the "connection parameters update request" but the Mbed stack don't implement a callback to inform the user about this request.
I know it because I sniffed the packets.
As a result, a

[2016-07-14 15:03] seajayshore commented on #186
@pan- Thanks v. much for the update! :-)

Ah, OK, I see. There is a Timeout used in nRF5xGap.h in the ble-nrf51822 library I thought was getting called, but I seem to have been wrong.

So if I drive all interrupts / periodic updates to my app via the radioNotificationCallback in Gap.h, and remove my application-level Ticker, I should avoid this Ticker issue altogether right? (Unless another Ticker

[2016-07-14 15:24] pan- commented on #186
@seajayshore The radio notification callback is a terrible way to drive anything (it should be removed at some point ...). The best would be to wait for a patch and still use the Ticker.

[2016-07-14 15:49] pan- commented on #185
@gaucho1978
* minConnectionInterval: the minimum interval between two connection events
* maxConnectionInterval: The maximum interval between two connection events
* slaveLatency: The number of connection events a slave can drop
* connectionSupervisionTimeout If no data has been received by the peer in this interval, then the connection is considered over.

The important part here is that:
connect

[2016-07-14 16:36] seajayshore commented on #186
OK, thanks for the straight-up advice! I'll follow! :-)

Maybe I'll have to look at using the Nordic app_timer of some lower level API using the RTC1 timer.

[2016-07-15 03:55] rogerclarkmelbourne commented on #185
The other issue with most of the Softdevice wrapper functions is that they do not return the correct response.

In this case the function returns that there has been a paramater error if the SD didn't return success

However there are a load of other possible response codes that the SD could return
See https://developer.nordicsemi.com/nRF5_SDK/nRF51_SDK_v8.x.x/doc/8.1.0/s130/html/a01260.html#gaf89

[2016-07-15 06:48] rgrover commented on #186
any activity done through radio notification callbacks can potentially delay the radio from doing timing sensitive operations. Radio notification callback handler should be *very* brief.

[2016-07-15 08:49] seajayshore commented on #186
OK, thanks for the tip. It's only setting a single flag variable in the callback context so should be ok I guess.
In anycase my application is working much more reliably having removed the normal ticker & using the radiocallback flag. Issue from my point of view is I now have no/limited control over frequency of this callback as its determined by the connection interval from the central.

[2016-07-17 14:19] gaucho1978 commented on #185
@pan- I think you are wrong because timeout is in steps of 10ms, while min and max inteval are in steps of 1,25ms.

i modified the code to show precise error, according to https://developer.nordicsemi.com/nRF5_SDK/nRF51_SDK_v8.x.x/doc/8.1.0/s130/html/a01260.html#gaf89b434841998ab384e0612dca9e12f8

It turns to be: BLE_ERROR_INVALID_ADDRESS
Effectively, the handle of the connection is 0.
It is zero

[2016-07-17 15:32] gaucho1978 commented on #185
I checked the Nordic website and it seems normal to have handle equal to zero when the device is in master role (from zero to seven).
So I continue to do not understand why am i getting the NRF_ERROR_INVALID_ADDR

[2016-07-17 20:07] pan- commented on #185
Oups, my bad, I though the update connection parameters were in ms.
In some cases APIs they are while in other they're not.

@gaucho1978 Could you provide a program which reproduce your issue ?

[2016-07-18 09:57] gaucho1978 commented on #185
this is the complete example, consider that it is structured as it follows: on start an active  scan is started. when the desired peripherial is found, it connects, and registers for notifications. On the first notification (inside function hvxCallBack) I request the connection parameters update.

`
#include <BLE_API.h>

BLE           ble;

Gap::Handle_t connectionHandle1;
bool firstNotification=t

[2016-07-24 07:27] gaucho1978 commented on #185
can someone of you try to use the param update and check the result? it's a common problem?

[2016-08-24 07:27] bluetooth-mdw commented on #181
Totally agree. Was just looking for a way to return an ATT error response in the Application Error range and stumbled across this issue. So it can't be done at present? This seems like a pretty important enhancement.

[2016-08-24 07:58] pan- commented on #181
@bluetooth-mdw No, it is not yet possible, it will be in a close future.
This become more and more mandatory. Same thing for the different type of read and write requests to support.

[2016-08-24 08:01] bluetooth-mdw commented on #181
That's good to hear :-)

[2016-09-22 09:26] janjongboom opened #189 "Link to documentation from README is broken"
Link to https://docs.mbed.com/docs/ble-intros/en/latest/AdvSamples/Overview/ 404s...

[2016-11-10 14:29] #177 closed

[2017-01-14 18:07] yogeshk19 opened #191 "NRF_52 Development Kit notification events don't fire on the central, when peripheral data changes"
I have two NRF52_DK boards and one is configured to be peripheral and the other as the central. The peripheral supports both read and notification mechanisms to read data. However from the central I am able to read from the peripheral, but the central don't receive notifications when data is updated by the peripheral BLE device.

Is there anything additional I have to implement in order to support

[2017-01-16 11:14] pan- commented on #191
@yogeshk19 This is not really the place where these kind of questions should be answered but I will answer yours.

You do **not** subscribe to notification by calling `gattClient::onHVX`. Calling this function will register a callback which will be called when the client receive a notification from the server. To receive such event, the client should first indicate to the server that it is interes

[2017-01-16 22:14] yogeshk19 commented on #191
Thanks a lot Vincent for taking the time to respond. Sorry I posted my question here, however posting on the mbed site didn't elicit any response and I accidentally stumbled into the issues for this github repository for the BLE, and saw one of the issues were around the notifications. So I am assuming the solution you have provided supersedes and is better solution than the hacky solution, i.e. b

[2017-01-17 12:56] pan- commented on #191
@yogeshk19 I don't have source code that I can show you at hand but out of my head it can be realized with something like this:

[code]

I didn't tested the code; I hope you get the idea.

[2017-01-17 20:07] yogeshk19 commented on #191
Thanks a lot Vincent for the sample code. This helps a lot. However I can't get it to compile especially using the asFunction, which provides a functionpointerwithcontext. I get the following compilation error. Thanks once again for helping me out, I will see if I can make it work without the methods being instance members.

Error I get for the following line of code...

[code]
Error: No suitable

[2017-01-17 21:32] yogeshk19 commented on #191
Hi Vincent,

I was looking at https://github.com/ARMmbed/ble/blob/master/ble/CharacteristicDescriptorDiscovery.h and was wondering if the typedef's for the callback should be a reference instead of a pointer and may be that is why the code won't compile even if I make those member functions i called earlier static members.  Almost all the methods expecting a callback method as an input parameter,

[2017-01-17 23:35] pan- commented on #191
@yogeshk19 I'm sorry, the definition of member function callback `whenDescriptorDiscovered` and `whenDiscoveryEnd` doesn't match the signature expected by the function which discover characteristic descriptors.
Pointer to const should be used instead of references. Data structure type should be ok though.

I didn't try to compile the code but the algorithm should be correct.

Sorry for the brievet

[2017-01-18 01:05] yogeshk19 commented on #191
Hi Vincent,

Thanks I was about to respond and let you know I had made the same fix. Thanks for confirming as well. I will test it and if everything works well, with your permission I could post your solution in the mbed site, so in the future people can have a working sample to play around with in order to test notifications.

Thanks,
Yogesh

[2017-01-19 15:58] yogeshk19 commented on #191
Thanks Vincent, for helping me with this and the code works very well and I get notifications now. I hope you don't mind if I post this piece of example code in the mbed site, so it could be helpful to others who need help setting up notifications in their application. I am closing this issue. Once again thanks for taking the time to provide a solution for this issue.

Thanks,
Yogesh

[2017-01-19 16:19] pan- commented on #191
No problem, go ahead.

[2017-01-27 16:32] yogeshk19 opened #192 "Linker error when using the Nordics Experimental Flash Data Storage API's."
I am not sure where to Log this issue, My apologies if I have logged this issue here incorrectly, however this is one of the repository related to the Nordic NRF52 platform and so I assumed I can log an issue I am facing with Experimental Flash Data Storage API's. I was told by the Nordic Support team that the FDS API"s are not enabled in mbed and the source for FDS related API's is not present in

[2017-01-27 17:56] yogeshk19 commented on #192
A fix was suggested on the mbed site, closing this issue.

[2017-01-27 17:56] #192 closed, assigned to nobody

[2017-03-28 16:03] seppestas opened #193 "NRF5: Byte order of characteristics with multi-byte data types incorrect"
Environment: mbed-os 5.4
Device: Ublox NINA-B112 module (based on nRF52832)
Target: UBLOX_EVK_NINA_b1

---

When using a `GattCharacteristic` with a multi-byte value, e.g `uint16_t` or `uint_32_t`, the values are received in an incorrect byte order by the Bluetooth nRF connect app (and probably other consumers of the GATT service).

E.g following characteristics:
[code]

Results in the following d

[2017-03-28 18:02] pan- commented on #193
@seppestas What is incorrect ? Number are transmitted in little endian as expected.
`nrf Connect` doesn't know oob that the value of characteristics with UUID 0x00F3 is an uint32_t it makes sense if it display it as a succession of byte in the order it was received.

[2017-03-29 08:43] seppestas commented on #193
@pan- Something is converting the multi-byte values to big-endian. AFAIK the ARMv7-M architecture is little endian by default and so is the Bluetooth L2CAP layer (and thus GATT AFAIK).

Sending the bytes of a buffer in "network byte order", ie Big endian, makes sense, especially when sending things like text. However, it would be nice if the `GattCharacteristic<T>` could be used to send multi-byte

[2017-03-29 09:14] pan- commented on #193
@seppestas Numbers in BLE are sent in little endian, it is in the specification.
The uint32_t `3` is stored in memory as `0x03 0x00 0x00 0x00` in little endian. This is exactly what you received in the nrf application.

About the hearth rate measurement characteristic, the measurement is correctly stored as a little endian value and the bytes are shuffled around because the characteristic value sh

[2017-03-29 10:25] seppestas commented on #193
@pan- You are right, there is no byte shuffling in the Heart Rate service.I though the endianness of the `hrmCounter` got switched on line 161 and 162 but this indeed does not seem to be the case.

Looks like I was just confused by the way nRF connect displays "byte arrays". I think using a notation like `0x03 0x00 0x00 0x00` is way clearer. Sending 0x00000003 and seeing 0x03000000 appear in the a

[2017-03-29 10:25] #193 closed, assigned to nobody

[2017-07-09 12:47] szotaksoma opened #194 "please implement missing key features"
there are several essential functions which returns with BLE_ERROR_NOT_IMPLEMENTED, please fix these and inplement the corresponding functions.

[2017-07-10 10:08] pan- commented on #194
@szotaksoma  Could you be more specific, your request is a bit vague.

[2017-09-11 19:46] waymond91 opened #195 "X-Nucleo-IDB05A1 Not Working"
Hello All,
I would like to preface this post by saying that I have absolutely no experience working with the BLE communication stack.
I recently purchased a Nucleo-F446RE board alongside X-Nucleo-IDB05A1 to test out the viability of using the SPBTLE-RF module in a product we are developing. I figured this would be a good way to explore bluetooth within the Mbed environment.
However, when I importe

[2017-09-12 09:07] apalmieriGH commented on #195
Dear Brett,
first of all thanks for using STM products.
Regarding your setup, please consider that the ST-NUCLEO-F446RE requires a small HW patch as warned in the [X-NUCLEO-IDB0XA1 component](https://developer.mbed.org/teams/ST/code/X_NUCLEO_IDB0XA1) page.
Alternatively, you could even use your NUCLEO board as is provided that you select the ST-NUCLEO-F401RE before building the program from your m

[2017-09-12 16:50] waymond91 commented on #195
Thank you for the help!
I am trying this right now. For some reason I assumed this was only required for a literal connection to an arduino.

[2017-09-12 17:48] waymond91 commented on #195
That fixed it!

[2018-06-11 18:16] yogeshk19 commented on #191
@pan- The code you provided me to subscribe to notifications, is this available out of box in the latest MBED BLE API? I am trying to remove the custom code if its available in the official build, since this seems like something that should be available by default?

Moreover after I upgraded the mbed-os build to 5.8.5 the method call below has started to return the BLE_ERROR_INVALID_STATE BLE erro

[2018-06-12 11:00] pan- commented on #191
No it is not available out of the box; it may be in a latter release but there's no plan yet. I suggest you open an issue specifically for this feature request in the mbed-os repo so it gets some traction and won't be missed.

What was your previous version ? Could you provide some details explaining about the discovery process is made and when characteristic descriptors are discovered ?

[2018-06-12 14:56] yogeshk19 commented on #191
Thanks Vincent for taking the time to respond. The mbed-os version where it worked was 5.5.4 and doesn't return the error described above and although I haven't tested it with the versions of the mbed-os and I directly used 5.8.5 rev.

`void OnCharacteristicDiscovery(const DiscoveredCharacteristic *pCharacteristic) `

I launch discovery based on the service UUID and also characteristic UUID and wh

[2018-06-12 15:34] pan- commented on #191
If you launch a descriptor discovery while the characteristic discovery is still active then it may return `BLE_ERROR_INVALID_STATE`. Nordic stack is weird though as it caches some requests unlike the other stacks we do supports. Here's an example demonstrating how a server can be discovered: [GattClient](https://github.com/pan-/mbed-os-example-ble/blob/7983d8b977d4fb1abdf739d1275ba56afa805c29/BLE

[2018-06-12 16:35] yogeshk19 commented on #191
Thanks Vincent for the example code. I am not sure I understand the GattClient implementation change in 5.8. But for now I will try out the new code example and see if it fixes the invalid state error.

Thanks,
Yogesh

[2018-06-12 17:47] yogeshk19 commented on #191
Thanks Vincent as always you rock. The code changes work against the latest MBED-OS build. Hope your team implements this permanently into the MBED BLE API as well.  I am closing this issue as the other issue has been logged to integrate this into the MBED BLE API.

Thanks,
Yogesh

[2018-06-12 17:47] #191 closed, assigned to nobody

[2018-06-21 15:01] ghost commented on #191
Hiii Yogeshk19,

would you mind sharing your code with us (or me)?
I am facing the same problems but dont seem to find a solution.

Thanks in advance,
Philipp :)

[2018-06-21 15:27] yogeshk19 commented on #191
@BleDudeAF  I just used the [GattClient](https://github.com/pan-/mbed-os-example-ble/blob/7983d8b977d4fb1abdf739d1275ba56afa805c29/BLE_GattClient/main.cpp) code that Vincent attached earlier in the thread. It works well with the latest mbed OS. Let me know if this doesn't work for you, I can help you with the changes I made.

Thanks,
Yogesh

[2018-06-22 08:38] ghost commented on #191
Thanks Yogesh for your fast reply.
I checked out the code you mentioned.
Somehow I got many include errors. I will try again to make it run.
Nevertheless, i oriented myself on your code but still facing some problems.
After successfully updating the cccd value of my desired characteristic, i cant get any suitable hvx event.
I just receive one weird one with the following params: connection handle:

[2018-06-22 15:45] yogeshk19 commented on #191
Hi Philip,

What version of mbed-os are you on?

Here is what I have in my code base:

OnBleInitComplete event I register for the event for receiving characteristic notifications.
`ble.gattClient().onHVX(asFunctionWithContext(&BleCentral::OnSensorDataChanged));`

OnBleConnection event I LaunchDiscovery for a given service & characteristics that I want to listen notifications for and onServiceDisco

[2018-06-25 08:20] ghost commented on #191
@yogeshk19  @pan-
Ok now i took some time and tried to figure it out with your given example code.
I just cant find the faulty piece of code, would it help to post it in here? I'll give it a try..
Using the hvx callback didnt work for me as i just received that weird update event (handle 15380).
[code]

[2018-06-25 16:16] pan- commented on #191
There is some logic error in the code posted above like it is wrong to assign the CCCD handle everytime a descriptor is discovered or the process test if the service discovery is active while a descriptor discovery is ongoing. The CCCD value written was incorrect too as a 16 bit value is required; not an 8 bit one.

Anyway, here's a corrected version that works: https://gist.github.com/pan-/585af7

[2018-06-26 07:28] ghost commented on #191
Hey Vincent,
thank you very much for your efford!!
That descriptor discovery routine was meant as an extra security feature to
not miss the cccd. Looking at it know, i realize that its not necessary as
the code will never loop back to look again... Nevertheless, it shouldnt
influence the functionality of my code. The cccd value i am writing to the
peer is a 16 bit value (of HVXType_t).
I tried bot

[2018-06-26 07:31] ghost commented on #191
edit:
i always receive those weird updates with handle 15384 and giant length.

2018-06-26 9:27 GMT+02:00 Philipp Schoch <philippschoch99@gmail.com>:

[2018-06-26 08:54] pan- commented on #191
Hi @BleDudeAF,

I've tried on NRF52 with the latest mbed os version; the HRM I used was based on the one we provide in our example ([here](https://github.com/ARMmbed/mbed-os-example-ble/tree/master/BLE_HeartRate)), I just changed the name advertised so it get recognized by your application.

Here is my output with the code I posted above:

[code]

[2018-10-10 02:07] rexxy-sasori opened #196 "Can I control the channel the device is advertising on with this API?"

[2018-12-28 06:52] salil0907 opened #197 "How to call BLE APIs from the board to host side using icetea?"

[2019-06-17 02:12] xiaomeixw opened #198 "#include "mbed.h" where is it???"
I can not find mbed.h. So how can i include it?

[2019-06-17 02:29] ghost commented on #198
this repo is dead.  I didn't even know I was still subscribed to this repo.  This is all bundled in https://github.com/ARMmbed/mbed-os now, so you should either start or port your projects with that.

[2019-06-17 02:42] xiaomeixw commented on #198
OK I got it, Thanks~~~

[2019-06-17 02:42] #198 closed, assigned to nobody

[2019-12-26 17:36] #194 closed, assigned to nobody

[2020-03-18 15:26] DavidF13 commented on #195
Hello Brett,

I found this thread trying to fix the same problem you had with the X-Nucleo-IDB05A1. Did you manage to use the shield after the BlueNRG-MS update?

[2020-06-22 23:53] mkarn3yru96 commented on #185
Where does the connHandle comes from?
How is it passed to a variable?